body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    transition: background-color 0.3s ease;
}

header {
    padding: 20px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

h1 {
    font-size: 28px;
    margin: 0;
    color: #333;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button i {
    font-size: 20px;
}

button:hover {
    background-color: #0056b3;
}

button.dark-mode {
    background-color: #555;
}

button.dark-mode:hover {
    background-color: #333;
}

.content {
    max-width: 800px;
    margin-left: 75%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

h2 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #333;
}

p {
    line-height: 1.6;
}

body.dark-mode {
    background-color: #222;
    color: #f9f9f9;
}

body.dark-mode header {
    background-color: #333;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode p {
    color: #f9f9f9;
}

body.dark-mode .content {
    background-color: #333;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    transition: background-color 0.3s ease;
}

header {
    padding: 20px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

h1 {
    font-size: 28px;
    margin: 0;
    color: #333;
}

button {
    padding: 10px;
    background-color: #2a64a5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button i {
    font-size: 20px;
}

button:hover {
    background-color: #0056b3;
}

button.dark-mode {
    background-color: #555;
}

button.dark-mode:hover {
    background-color: #333;
}

.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

h2 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #333;
}

p {
    line-height: 1.6;
}

body.dark-mode {
    background-color: #222;
    color: #f9f9f9;
}

body.dark-mode header {
    background-color: #333;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode p {
    color: #f9f9f9;
}

body.dark-mode .content {
    background-color: #333;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}
.image-container {
    display: flex;
    justify-content: center;
}

.image-container img {
    max-width: 50%;
    border-radius: 5%;
    height: auto;
}
.profile-pic {
    margin-left: 4%;
    border-radius: 45%;
    width: 100px;
  }
.nombre {
    margin-left: 4%;
  }
  
.perfil{
    margin-left: 50%;
}